# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*~
# Exclude Complied Code
client2
exploit
original/client
original/server
original/xstack
server2
shellcode
shellcode.s
testremoteshell
xstack
reverseshell
